services:
  app:
    image: ghcr.io/arunoruto/beszel-agent:0.15.4@sha256:37b7d83822945454419fb683a1c57013ed0d5a3d651839ae9ae5fa1f9cb1f990
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - utility
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LOG_LEVEL: info
      PORT: ${PORT:-45876}
      GPU: true
      KEY: $BESZELKEY
    healthcheck:
      test: ['CMD', '/agent', 'health'] # Run the health command
      start_period: 5s # Check 5 seconds after the container starts
      interval: 120s # Then check every 120 seconds after that
    labels:
      - autoheal=true
