services:
  app:
    image: ghcr.io/arunoruto/beszel-agent:0.16.0@sha256:fc0b7d95aeb48754498037c1711b5f684e6dd5644ea5f8fcaa9c36aa0f4a9d5d
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - utility
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LOG_LEVEL: info
      PORT: ${PORT:-45876}
      GPU: true
      KEY: $BESZELKEY
    healthcheck:
      test: ['CMD', '/agent', 'health'] # Run the health command
      start_period: 5s # Check 5 seconds after the container starts
      interval: 120s # Then check every 120 seconds after that
    labels:
      - autoheal=true
