services:
  app:
    image: ghcr.io/arunoruto/beszel-agent:0.16.1@sha256:b7cc71753be823f1f725722971f27a901406fc6794b1373be2263116aa793bb8
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - utility
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LOG_LEVEL: info
      PORT: ${PORT:-45876}
      GPU: true
      KEY: $BESZELKEY
    healthcheck:
      test: ['CMD', '/agent', 'health'] # Run the health command
      start_period: 5s # Check 5 seconds after the container starts
      interval: 120s # Then check every 120 seconds after that
    labels:
      - autoheal=true
