version: '3.8'
services:
  app:
    image: ghcr.io/henrygd/beszel/beszel:0.15.3@sha256:8c4bf0f4eceaaddb75e48edb94cf9afc32f7af869a3cbd3252ce395bbfd5813c
    restart: unless-stopped
    networks:
      - cloudflare-net
    ports:
      - ${PORT:-8090}:8090
    volumes:
      - data:/beszel_data
      - ./beszel_socket:/beszel_socket
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      #- BESZEL_HUB_DISABLE_PASSWORD_AUTH=true
      - BESZEL_HUB_USER_CREATION=true
    healthcheck:
      test: ['CMD', '/beszel', 'health', '--url', 'http://localhost:8090']
      start_period: 30s
      interval: 120s
    labels:
      - autoheal=true
      - dockflare.enable=${CFTUNNEL:-true}
      - dockflare.0.hostname=${CFSUBDOMAIN}${CFDOMAIN}
      - dockflare.0.service=http://${HOSTNAME}:${PORT:-8090}
      - dockflare.0.access.policy=${CFPOLICY:-default_tld}
      - dockflare.0.zonename=${CFDOMAIN}
      - dockflare.0.path=${CFURLPATH:-}
volumes:
  data:

networks:
  cloudflare-net:
    name: cloudflare-net
    external: true
