version: "3.3"
services:
  App:
    image: ghcr.io/manimatter/decluttarr:v1.50.2@sha256:8a00eaae4331327923513f4e26fda3f130e99d8a26c8e7bc9843f8dc56774a19
    restart: always
    environment:
      TZ: ${TZ:-Australia/Melbourne}
      PUID: 1000
      PGID: 1000
      # TEST_RUN: True
      # SSL_VERIFICATION: False
      LOG_LEVEL: INFO
      REMOVE_TIMER: 10
      REMOVE_FAILED: True
      REMOVE_FAILED_IMPORTS: True
      REMOVE_METADATA_MISSING: True
      REMOVE_MISSING_FILES: True
      REMOVE_ORPHANS: True
      REMOVE_SLOW: False
      REMOVE_STALLED: True
      REMOVE_UNMONITORED: True
      RUN_PERIODIC_RESCANS: '
        {
        "SONARR": {"MISSING": true, "CUTOFF_UNMET": true, "MAX_CONCURRENT_SCANS": 3, "MIN_DAYS_BEFORE_RESCAN": 7},
        "RADARR": {"MISSING": true, "CUTOFF_UNMET": true, "MAX_CONCURRENT_SCANS": 3, "MIN_DAYS_BEFORE_RESCAN": 7}
        }'
      # Feature Settings
      PERMITTED_ATTEMPTS: 3
      NO_STALLED_REMOVAL_QBIT_TAG: Don't Kill
      #MIN_DOWNLOAD_SPEED: 100
      FAILED_IMPORT_MESSAGE_PATTERNS: '
        [
        "Not a Custom Format upgrade for existing",
        "Not an upgrade for existing",
        "Found matching series via grab history, but release was matched to series by ID. Automatic import is not possible. See the FAQ for details",
        "was not found in the grabbed release",
        "was unexpected considering the",
        "Found potentially dangerous file with extension",
        "Invalid video file, unsupported extension",
        "Invalid season or episode"
        ]'
      ## Radarr
      RADARR_URL: $RADARRURL
      RADARR_KEY: $RADARRAPI
      ## Sonarr
      SONARR_URL: $SONARRURL
      SONARR_KEY: $SONARRAPI
      ## qBitorrent
      QBITTORRENT_URL: $QBITTORRENTURL
      QBITTORRENT_USERNAME: $QBITTORRENTUN
      QBITTORRENT_PASSWORD: $QBITTORRENTPW
