version: '3'
services:
  app:
    image: ghcr.io/claabs/epicgames-freegames-node:bullseye-slim@sha256:3a07942108be20c03886d7ca4d2c51e7fe1f464c732dd76b82edee1d3b86c3c2
    ports:
      - ${WEBPORT:-3000}:3000/udp
      - ${WEBPORT:-3000}:3000/tcp
    restart: unless-stopped
    volumes:
      - config:/usr/app/config
    environment:
      - TZ=${TZ:-Australia/Melbourne}
      - EMAIL=${RECIPIENT_EMAIL} #Email this person when a new free game is released
      - RUN_ON_STARTUP=${RUN_ON_STARTUP:-true}
      - BASE_URL=https://${RECIPIENT_NAME}-egf.${DOMAIN}
      - SMTP_HOST=${SMTP_HOST:-smtp.gmail.com}
      - SMTP_PORT=${SMTP_PORT:-587}
      - EMAIL_SENDER_ADDRESS=${SMTP_FROM} #Emails will be sent from this address
      - EMAIL_SENDER_NAME=${SMTP_SUBJECT:-Epic Games Free Games}
      - EMAIL_RECIPIENT_ADDRESS=${RECIPIENT_EMAIL} #Email this person when a new free game is released
      - SMTP_SECURE=${SMTP_SECURE:-false}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - LOCAL_TUNNEL=${LOCAL_TUNNEL:-false}
    mem_limit: 2G
    labels:
      - cloudflare.tunnel.enable=true
      - cloudflare.tunnel.hostname=${RECIPIENT_NAME}-egf.${DOMAIN}
      - cloudflare.tunnel.service=http://${HOSTNAME:-localhost}:${WEBPORT:-3000}
      - cloudflare.tunnel.access.policy=${CFPOLICY:-bypass}
      - cloudflare.tunnel.zonename=${DOMAIN}
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "3"

volumes:
  config:

##     I RECOMMEND A CONTAINER PER USER
##     MINIMUM ENV
##     SET THE SUBDOMAIN TO BE UNIQUE AND RECIPIENT TO BE UNIQUE
#RECIPIENT_EMAIL=
#RECIPIENT_NAME=
#FROM_SMTP=
#SMTP_USERNAME=
#SMTP_PASSWORD=
#SUBDOMAIN=
#DOMAIN=
#HOSTNAME=
























