version: '3.3'
services:
  app:
    image: ghcr.io/dmunozv04/isponsorblocktv:v2.6.1@sha256:545856523283753ebcf4b400a46895b9906844be5265a0f4cab98a6b0bdf84be
    restart: unless-stopped
    volumes:
      - config:/app/data
    network_mode: host #required for auto-discovery of Android TV

volumes:
  config:
