version: "3"

services:
  app:
    image: emmercm/qbittorrent:5.1.4-alpine@sha256:4c7d0552ebb6490f662374e1b12d9a4c1f196a877352a6ce63abc41752a97c5d
    restart: unless-stopped
    dns:
      - 1.1.1.1
      - 8.8.8.8
      - 1.0.0.1
      - 8.8.4.4
      - 9.9.9.9
    environment:
      - TZ=$TZ
    ports:
      - ${WEBPORTQB:-8080}:8080
      - ${PORTFORWARD:-6881}:${PORTFORWARD:-6881}/tcp #Torrent Traffic
      - ${PORTFORWARD:-6881}:${PORTFORWARD:-6881}/udp #Torrent Traffic
    volumes:
      - config:/config
      - data:/data
      - $DOWNLOADS:/volume1/downloads
    healthcheck:
      test: curl --connect-timeout 15 --silent --show-error --fail -k http://localhost:8080
      interval: 30s
      retries: 3
      start_period: 30s
      timeout: 20s
    labels:
      - autoheal=true  
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "3"
  qui:
    image: ghcr.io/autobrr/qui:v1.9.1@sha256:1a8325626d1e0d544cc3ae452e56b82120f59e1cf07afeac7d3cce948094ce8d
    restart: unless-stopped
    ports:
      - ${WEBPORT:-7476}:${WEBPORT:-7476}
    volumes:
      - qui:/config
    environment:
      QUI__PORT: ${WEBPORT:-7476}
      QUI__BASE_URL: ${CFURLPATH:-}/
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3" 
    labels:
      - autoheal=true
      - dockflare.enable=${CFTUNNEL:-true}
      - dockflare.0.hostname=${CFSUBDOMAIN}${CFDOMAIN}
      - dockflare.0.service=http://${HOSTNAME:-localhost}:${WEBPORT:-7476}
      - dockflare.0.access.policy=${CFPOLICY:-default_tld} #default_tld, authenticate, bypass
      - dockflare.0.zonename=${CFDOMAIN}
      - dockflare.0.path=${CFURLPATH:-}
      
       
volumes:
  config:
  data:
  qui:
