version: '3'
services:
  app:
    image: ghcr.io/linuxserver/tautulli:2.16.0@sha256:4d764be0f66532f6820a82aa365e530414f50f462410ce0949edd3fc22ccb9d5
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Australia/Melbourne}
    volumes:
      - app:/config
    ports:
      - ${PORT:-8181}:8181
    restart: unless-stopped
    networks:
      - cloudflare-net
    healthcheck:
      test: curl --connect-timeout 15 --silent --show-error --fail -k http://localhost:8181
      interval: 30s
      retries: 3
      start_period: 30s
      timeout: 20s
    labels:
      - autoheal=true
      - dockflare.enable=${CFTUNNEL:-true}
      - dockflare.0.hostname=${CFSUBDOMAIN}${CFDOMAIN}
      - dockflare.0.service=http://${HOSTNAME:-localhost}:${PORT:-8181}
      - dockflare.0.access.policy=${CFPOLICY:-default_tld}
      - dockflare.0.zonename=${CFDOMAIN}
      - dockflare.0.path=${CFURLPATH:-}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  app:
networks:
    cloudflare-net:
        name: cloudflare-net
        external: true
