version: "3"
services:
  app:
    image: ghcr.io/seriousm4x/upsnap:5.2.3@sha256:05c5d4a7eb0ed4693caaaef22ce9b345cf37ecfa728d79bb43f89e6c9e85a1a3
    network_mode: host
    restart: unless-stopped
    volumes:
      - app:/app/pb_data
    environment:
      - TZ=${TZ:-Australia/Melbourne}
      - UPSNAP_INTERVAL=@every 10s # Sets the interval in which the devices are pinged
      - UPSNAP_SCAN_RANGE=${RANGE:-192.168.0.1/24} # Scan range is used for device discovery on local network
      - UPSNAP_WEBSITE_TITLE=${WEBSITE_TITLE:-Up Snap} # Custom website title
      - UPSNAP_PING_PRIVILEGED=${PING_PRIVILEGED:-true}
    logging:
      driver: "json-file"
      options:
        max-size: "15m"
        max-file: "3"   
    labels:
      - dockflare.enable=${CFTUNNEL:-true}
      - dockflare.0.hostname=${CFSUBDOMAIN}${CFDOMAIN}
      - dockflare.0.service=http://${HOSTNAME:-localhost}:8090
      - dockflare.0.access.policy=${CFPOLICY:-default_tld}
      - dockflare.0.zonename=${CFDOMAIN}
      - dockflare.0.path=${CFURLPATH:-}
volumes:
  app:
