version: '3'
services:
  autoheal:
    deploy:
      replicas: 1
    environment:
      AUTOHEAL_CONTAINER_LABEL: autoheal
      AUTOHEAL_INTERVAL: 60
      AUTOHEAL_START_PERIOD: 240
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: 60
      AUTOHEAL_ONLY_MONITOR_RUNNING: true
      WEBHOOK_URL: ${PUSHOVER_WEBHOOK:-""}
    image: willfarrell/autoheal@sha256:63ea5d3486b6dffe9651792ece4a195419d6e47cc7bc34dbd730c61f67baf75c
    network_mode: none
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
  
  docker-socket-proxy:
    network_mode: host
    image: ghcr.io/tecnativa/docker-socket-proxy:v0.4.1
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - ALLOW_START=1
      - ALLOW_STOP=1
      - ALLOW_RESTART=1
      - IMAGES=1
      - CONTAINERS=1
      - VOLUMES=1
      - NETWORKS=1
      - POST=1
    healthcheck:
      test: wget --spider http://localhost:2375/version || exit 1
      interval: "29s"
      timeout: "5s"
      retries: 3
      start_period: "21s"
    labels:
      - autoheal=true
      
  watchtower:
    image: ghcr.io/containrrr/watchtower:1.7.1
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=${TZ:-Australia/Melbourne}
      - WATCHTOWER_ROLLING_RESTART=true
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_STOPPED=true
      - WATCHTOWER_POLL_INTERVAL=86400
      - WATCHTOWER_LABEL_ENABLE=true

  beszel-agent:
    image: ghcr.io/henrygd/beszel/beszel-agent:0.17.0@sha256:a68e3fe37fccd49d7132dbd6bdc98155e5160fe122b070c38aa1eca090c98a7d
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - LISTEN=${BESZELPORT:-45876}
      - KEY=$BESZELKEY
      - GPU="true"
    healthcheck:
      test: ['CMD', '/agent', 'health']
      start_period: 30s
      interval: 120s
      retries: 3
      timeout: 60s
    labels:
      - autoheal=true

  dockflare:
    image: alplat/dockflare:v2.1.7@sha256:015653bdd533b6f4e81057e3b29500622ab3c56b2c244129451f8d02f311814f
    restart: unless-stopped
    networks:
      - cloudflare-net
    healthcheck:
      test: wget --no-verbose --tries=1 --spider ${PROTOCOL:-http}://localhost:5000 -O /dev/null || exit 1
      interval: 30s
      retries: 3
      start_period: 30s
      timeout: 20s 
    ports:
      - ${DOCKFLAREPORT:-5000}:5000
    environment:
      - STATE_FILE_PATH=/app/data/state.json
      - TZ=${TZ:-Australia/Melbourne}
      - CF_API_TOKEN=$CFAPITOKEN
      - CF_ACCOUNT_ID=$CFACCOUNTID
      #- CF_ZONE_ID=$CFZONEID
      - TUNNEL_NAME=${CFTUNNELNAME:-MissingTunnelName}
      - LABEL_PREFIX=dockflare
      - GRACE_PERIOD_SECONDS=28800
      - CLEANUP_INTERVAL_SECONDS=900
      - AGENT_STATUS_UPDATE_INTERVAL_SECONDS=30
      - SCAN_ALL_NETWORKS=true
      - MAX_CONCURRENT_DNS_OPS=2
      - TUNNEL_DNS_SCAN_ZONE_NAMES=${DNSSCANZONES:-}
      - CLOUDFLARED_NETWORK_NAME=${CLOUDFLARED_NETWORK_NAME:-host}
      - DOCKFLARE_PASSWORD=${DOCKFLAREPASSWORD}
      - SECRET_KEY=${DOCKFLAREKEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - dockflare_data:/app/data
    labels:
      - autoheal=true
      - dockflare.enable=true
      - dockflare.0.hostname=${CFTUNNELNAME:-MissingHostname}-tunnel.$URLTLD
      - dockflare.0.service=http://${HOSTNAME:-localhost}:${DOCKLAREPORT:-5000}
      - dockflare.0.access.policy=default_tld
      - dockflare.0.zonename=$URLTLD
      #- cloudflare.tunnel.path=${URLPATH:-}
      
  portracker:
    image: mostafawahied/portracker:1.2.2@sha256:4464bc74d909f54cf29df5f4d44f8e2190e589219b9d092b48ba054077ab4582
    restart: unless-stopped
    network_mode: "host"
    pid: "host"
    volumes:
      - portacker_data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DATABASE_PATH=/data/portracker.db
      - PORT=${PORTACKERPORT:-4999}
    labels:
      - autoheal=true
      - dockflare.enable=true
      - dockflare.0.hostname=${CFTUNNELNAME:-MissingHostname}-portracker.$URLTLD
      - dockflare.0.service=http://${HOSTNAME:-localhost}:${PORTACKERPORT:-4999}
      - dockflare.0.access.policy=default_tld
      - dockflare.0.zonename=$URLTLD
      #- cloudflare.tunnel.path=${URLPATH:-}

volumes:
  dockflare_data:
  portacker_data:

networks:
  cloudflare-net: 
    name: cloudflare-net
